/* index.css */
html {scroll-behavior:smooth;}
.swiper {height:100vh; width:100%; position:relative;}
.main_slide .swiper-wrapper {}
.main_slide > .swiper-wrapper > .swiper-slide {
    max-width:var(--width-desk-v1);
    /* min-width:1024px; */
    height:100vh;
}
/* ------------------------------------------- 1행-인트로 */
.main_slide .swiper-wrapper .intro {
    /* background-image:url(../images/intro.jpg); */
    background:linear-gradient(135deg, #FCD9DF, #CFE0F8);
    width:100%; height:100%;
    position:relative;
}
.main_slide .swiper-wrapper .intro .intro_bg {}
.main_slide .swiper-wrapper .intro .intro_bg img {}
.main_slide .swiper-wrapper .intro .intro_bg img:nth-child(1) {position:absolute; top:50%; left:50%; transform:translate(-50%, -44%); z-index:10;}
.main_slide .swiper-wrapper .intro .intro_bg img:nth-child(2) {
    width:62px;
    position:absolute;
    right:412px; bottom:178px;
    animation:star2 0.4s linear infinite alternate;
}
.main_slide .swiper-wrapper .intro .intro_bg img:nth-child(3) {
    width:66px;
    position:absolute;
    left:20%; top:196px;
    animation:star3 1s linear infinite alternate;
}
.main_slide .swiper-wrapper .intro .intro_bg img:nth-child(4) {
    width:45px;
    position:absolute;
    left:50%; bottom:60px;
    transform:translateX(-50%);
    animation:scroll 1s linear infinite alternate;
}
/* ------------------------------------------- 2행-목차 */
.main_slide .swiper-wrapper .content {
    /* background-image:url(../images/content.jpg); */
    background:linear-gradient(135deg, #E0C3EF, #CDCCF7, #BBD5FF);
    width:100%; height:100%;
    position:relative;
}
.main_slide .swiper-wrapper .content .deco {/* position:relative; */}
.main_slide .swiper-wrapper .content .deco img:nth-child(1) {position:absolute; top:12%; left:5%; z-index:10;}
.main_slide .swiper-wrapper .content .deco img:nth-child(2) {
    position:absolute;
    left:20%; top:-53px;
    transform-origin:top center;
    animation:pattern 1.5s linear infinite alternate;
    width:83px; height:216px;
}
.main_slide .swiper-wrapper .content .deco img:nth-child(3) {
    position:absolute;
    left:23%; top:0;
    transform-origin:top center;
    animation:pattern 3.5s linear infinite alternate;
    width:138px; height:357px;
}
.main_slide .swiper-wrapper .content .deco img:nth-child(4) {
    position:absolute;
    left:546px; top:0;
    transform-origin:top center;
    animation:pattern 2.5s linear infinite alternate;
    width:98px; height:255px;
}
.main_slide .swiper-wrapper .content .deco img:nth-child(5) {
    width:59px;
    position:absolute;
    left:50%; top:245px;
    animation:star2 1.2s linear infinite alternate;
}
.main_slide .swiper-wrapper .content .deco img:nth-child(6) {
    width:59px;
    position:absolute;
    right:35%; top:455px;
    animation:star3 1s linear infinite alternate;
}
.main_slide .swiper-wrapper .content .deco img:nth-child(7) {
    width:73px;
    position:absolute;
    right:20%; top:304px;
    animation:star2 1.2s linear infinite alternate;
}
.main_slide .swiper-wrapper .content .list {
    display:flex; flex-flow:row nowrap;
    justify-content:center; gap:230px;
    position:absolute; left:50%; top:50%;
    transform:translate(-50%, 330%); width:100%;
}
.main_slide .swiper-wrapper .content .list > * {
    background-color:#fff;
    border-radius:50px;
    padding:16px 32px;
    font-size:1.25em;
    transition:transform 0.5s ease;
    z-index:5;
}
.main_slide .swiper-wrapper .content .list a:hover {
    transform:scale(1.2);
}
.main_slide .swiper-wrapper .content .list .introduce_btn {}
.main_slide .swiper-wrapper .content .list .skill_btn {}
.main_slide .swiper-wrapper .content .list .project_btn {}
/* ------------------------------------------- 3행-자기소개 */
.main_slide .swiper-wrapper #introduce {
    /* background-image:url(../images/introduce.jpg); */
    background:linear-gradient(135deg, #FCD9DF, #CFE0F8);
    padding:265px 75px 212px;
    display:flex; flex-flow:row nowrap; gap:160px;
    align-items:center; justify-content:center;
}
.main_slide .swiper-wrapper #introduce .introduce_title {position:absolute; top:100px; left:50%; transform:translateX(-50%); z-index:10;}
.main_slide .swiper-wrapper #introduce > div {
    flex-shrink: 1;
    max-width: 100%;
}
.main_slide .swiper-wrapper #introduce .self {
    width:317px; height:460px;
    /* margin-right:127px; */
    display:flex; flex-flow:column nowrap;
}
.main_slide .swiper-wrapper #introduce .self .photo {
    background-color:#f5f5f5;
    width:250px; height:400px;
    border-radius:40px;
    background-image:url(../images/self_img.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    margin:0 auto;
    position:relative;
}
.main_slide .swiper-wrapper #introduce .self .photo img {
    /* width:281px; height:90px; */
    width:100%;
    position:absolute;
    left:0; bottom:0;
}
.main_slide .swiper-wrapper #introduce .self .dsc {
    line-height:1.4; text-align:center;
    margin-top:16px;
}
.main_slide .swiper-wrapper #introduce .about_me {
    /* width:1180px; height:560px; */
    display:flex; flex-flow:column nowrap;
}
/* ------------------------------------------- 3-1. top */
.main_slide .swiper-wrapper #introduce .about_me .top {display:flex; flex-flow:row nowrap; gap:60px;}
.main_slide .swiper-wrapper #introduce .about_me .top div > h2 {
    font-family:'Noto Serif KR';
    font-size:1.875em;
    margin-bottom:30px;
}
/* ------------------------------------------- 3-1-1. 인적사항 */
.main_slide .swiper-wrapper #introduce .about_me .top .self_introduce {width:350px; height:280px;}
.main_slide .swiper-wrapper #introduce .about_me .top .self_introduce .about {}
.main_slide .swiper-wrapper #introduce .about_me .top .self_introduce .about * {display:flex; flex-flow:row nowrap;}
.main_slide .swiper-wrapper #introduce .about_me .top .self_introduce .about div > h3 {width:100px;}
.main_slide .swiper-wrapper #introduce .about_me .top .self_introduce .about div {margin-bottom:14px;}
/* ------------------------------------------- 3-1-2. 자격증 */
.main_slide .swiper-wrapper #introduce .about_me .top .license {width:280px; height:280px;}
.main_slide .swiper-wrapper #introduce .about_me .top .license h2 {}
.main_slide .swiper-wrapper #introduce .about_me .top .license .licen {display:flex; flex-flow: column nowrap; gap:14px;}
.main_slide .swiper-wrapper #introduce .about_me .top .license .licen p {}
/* ------------------------------------------- 3-3-3. 학교 */
.main_slide .swiper-wrapper #introduce .about_me .top .education {}
.main_slide .swiper-wrapper #introduce .about_me .top .education h2 {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu div {display:flex; flex-flow:row nowrap; gap:30px;}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu div p {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu div .date {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu div .edu {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu div .edu >  span:nth-child(2) {font-size:0.875em; line-height:1.4;}
/* ------------------------------------------- 대학교 */
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .uni {margin-bottom:14px;}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .uni .date {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .uni .edu {display:flex; flex-flow:column nowrap; gap:4px;}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .uni .edu span {}
/* ------------------------------------------- 고등학교 */
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .high {margin-bottom:14px;}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .high .date {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .high .edu {}
/* ------------------------------------------- 중학교 */
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .middle {margin-bottom:14px;}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .middle .date {}
.main_slide .swiper-wrapper #introduce .about_me .top .education .date_edu .middle .edu {}
/* ------------------------------------------- 3-2. btm */
.main_slide .swiper-wrapper #introduce .about_me .btm {display:flex; flex-flow:row nowrap; gap:60px;}
/* ------------------------------------------- 3-2-1. 스킬 */
.main_slide .swiper-wrapper #introduce .about_me .btm .skill {width:290px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill h2 {
    font-family:'Noto Serif KR';
    font-size:1.875em;
    margin-bottom:30px;
}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap {display:flex; flex-flow:row wrap; gap:40px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap p {
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:45px; height:45px;
}
/* ------------------------------------------- 3-2-1-1. 개별 디자인 */
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap .figma {background-image:url(../images/figma_icon.svg);}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap .html {background-image:url(../images/html_icon.svg);}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap .css {background-image:url(../images/css_icon.svg);}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap .photoshop {background-image:url(../images/photoshop_icon.svg);}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap .illustrator {background-image:url(../images/Illustrator_icon.svg);}
.main_slide .swiper-wrapper #introduce .about_me .btm .skill .icon_wrap .github {background-image:url(../images/github_icon.svg);}
/* ------------------------------------------- 3-2-2. 훈련 */
.main_slide .swiper-wrapper #introduce .about_me .btm .job {}
.main_slide .swiper-wrapper #introduce .about_me .btm .job h2 {
    font-family:'Noto Serif KR';
    font-size:1.875em;
    margin-bottom:30px;
}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training {display:flex; flex-flow:row nowrap; gap:40px;}
/* ------------------------------------------- left */
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left {}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left  div {
    display:flex; flex-flow:row nowrap;
    align-items:flex-start; gap:30px;
}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left  div p span:nth-child(2) {font-size:0.875em;}
/* ------------------------------------------- 컴퓨터 */
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .computar {margin-bottom:14px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .computar .date {line-height:1.4;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .computar .title {display:flex; flex-flow:column nowrap; gap:4px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .computar .title span {width:292px; line-height:1.4;}
/* ------------------------------------------- 제과 */
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .pastry {}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .pastry .date {line-height:1.4;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .pastry .title {display:flex; flex-flow:column nowrap; gap:4px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .left .pastry .title span {line-height:1.4;}
/* ------------------------------------------- right */
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right {}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right div {display:flex; flex-flow:row nowrap; gap:30px; align-items:flex-start;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right div p span:nth-child(2) {font-size:0.875em;}
/* ------------------------------------------- 디저트 */
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .dessert {margin-bottom:14px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .dessert .date {}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .dessert .title {display:flex; flex-flow:column nowrap; gap:4px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .dessert .title span {line-height:1.4;}
/* ------------------------------------------- 제빵 */
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .baking {}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .baking .date {}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .baking .title {display:flex; flex-flow:column nowrap; gap:4px;}
.main_slide .swiper-wrapper #introduce .about_me .btm .job .training .right .baking .title span {line-height:1.4;}
/* ------------------------------------------- 4행-스킬&툴 */
.main_slide .swiper-wrapper #skill {
    /* background-image:url(../images/skill_tools_bg.jpg); */
    background:linear-gradient(90deg, #E0C3EF, #BBD5FF);
    padding-top:250px;
    position:relative;
}
.main_slide .swiper-wrapper #skill .skill_group {/* max-width:1520px; */ max-width:1530px; height:100%; position:relative; margin:0 auto;}
.main_slide .swiper-wrapper #skill .skill_group .sklii_title {position:absolute; top:-20%; left:50%; transform:translateX(-50%);}
.main_slide .swiper-wrapper #skill .skill_group .skill_wrap {
    background-color:#fff;
    padding:50px 0 50px; width:100%; height:80%;
    display:flex; flex-flow:row wrap; justify-content:center; gap:100px;
    text-align:center; align-items:center; border-radius:40px;
    /* position:absolute; top:50%; left:50%; transform:translate(-50%, -45%); */
}
.main_slide .swiper-wrapper #skill .skill_wrap dl {width:340px; height:auto;}
.main_slide .swiper-wrapper #skill .skill_wrap dl dt {}
.main_slide .swiper-wrapper #skill .skill_wrap dl dt h3 {font-family:'Noto Serif KR'; font-size:1.625em; font-weight:500;}
.main_slide .swiper-wrapper #skill .skill_wrap dl dt p {
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:60px; height:60px;
    margin:10px auto;
}
.main_slide .swiper-wrapper #skill .skill_wrap dl .summary {margin-bottom:10px; line-height:1.1;}
.main_slide .swiper-wrapper #skill .skill_wrap dl .desc {
    font-size:0.75em;
    font-weight:300;
    line-height:1.4;
}
/* ------------------------------------------- 4-1. 피그마 */
.main_slide .swiper-wrapper #skill .skill_wrap .figma dt .icon_figma {background-image:url(../images/figma_icon.svg);}
/* ------------------------------------------- 4-2. html */
.main_slide .swiper-wrapper #skill .skill_wrap .html dt .icon_html {background-image:url(../images/html_icon.svg);}
/* ------------------------------------------- 4-3. css */
.main_slide .swiper-wrapper #skill .skill_wrap .css dt .icon_css {background-image:url(../images/css_icon.svg);}
/* ------------------------------------------- 4-4. 포토샵 */
.main_slide .swiper-wrapper #skill .skill_wrap .photoshop dt .icon_photoshop {background-image:url(../images/photoshop_icon.svg);}
/* ------------------------------------------- 4-5. 일러스트레이터 */
.main_slide .swiper-wrapper #skill .skill_wrap .illustrator dt .icon_illustrator {background-image:url(../images/Illustrator_icon.svg);}
/* ------------------------------------------- 5행-프로세스 */
.main_slide .swiper-wrapper .process {
    /* background-image:url(../images/process_bg.jpg); */
    background:linear-gradient(135deg, #FCD9DF, #CFE0F8);
    padding:426px 0 230px;
    position:relative;
}
.main_slide .swiper-wrapper .process .process_wrap {padding:0 120px;}
.main_slide .swiper-wrapper .process .process_wrap .process_title {position:absolute; top:20%; left:50%; transform:translateX(-50%);}
.main_slide .swiper-wrapper .process .process_wrap .process_title img {width:100%;}
.main_slide .swiper-wrapper .process .process_wrap .process_header {
    display:flex; flex-flow:row nowrap;
    align-items:center; gap:10px;
    margin-bottom:30px;
}
.main_slide .swiper-wrapper .process .process_wrap .process_header .star_img {
    background-image:url(../images/star3.svg);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:32px; height:32px;
}
.main_slide .swiper-wrapper .process .process_wrap .process_header .title {font-size:1.375em; font-weight:700;}
.main_slide .swiper-wrapper .process .process_wrap .process_sequence {
    background-color:#fff;
    padding:60px; 
    display:flex; flex-flow:row nowrap;
    border-radius:30px; gap:80px;
}
.main_slide .swiper-wrapper .process .process_wrap .process_sequence li {flex:1; display:flex; flex-flow:row nowrap;}
.main_slide .swiper-wrapper .process .process_wrap .process_sequence li .num {
    padding-bottom:80px;
    position:relative;
    font-size:1.375em; font-weight:600;
}
.main_slide .swiper-wrapper .process .process_wrap .process_sequence li .num::after {
    content:'';
    display:block;
    position:absolute;
    left:50%; transform:translateX(-50%); bottom:-5px;
    width:3px; height:80px;
    background-color:#86BCFE;
}
.main_slide .swiper-wrapper .process .process_wrap .process_sequence li .info {padding-top:30px;}
.main_slide .swiper-wrapper .process .process_wrap .process_sequence li .info h3 {
    padding:0 0 8px 0;
    font-size:1.125em; font-weight:600;
    width:max-content;
}
.main_slide .swiper-wrapper .process .process_wrap .process_sequence li .info p {font-size:0.875em; line-height:1.2; word-break: keep-all; color:#6E6E6E;}
/* ------------------------------------------- 5-1. 개별디자인 */
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(1) .num {color:#86BCFE;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(2) .num {color:#B2D4FF;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(2) .num::after {background-color:#B2D4FF;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(3) .num {color:#E5DDEB;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(3) .num::after {background-color:#E5DDEB;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(4) .num {color:#FCD9DF;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(4) .num::after {background-color:#FCD9DF;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(5) .num {color:#FFB5C2;}
.main_slide .swiper-wrapper .process .process_sequence li:nth-child(5) .num::after {background-color:#FFB5C2;}
/* ------------------------------------------- 6행-프로젝트 목차 */
.main_slide .swiper-wrapper #project {
    background-image:url(../images/project_contents_bg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding:120px 200px;
}
.main_slide .swiper-wrapper #project .proj_title {
    margin-bottom:30px;
    display:flex; flex-flow:row nowrap;
    align-items:center; gap:10px;
}
.main_slide .swiper-wrapper #project .proj_title .star_img {
    background-image:url(../images/star3.svg);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:32px; height:32px;
}
.main_slide .swiper-wrapper #project .proj_title .title {font-size:1.375em; font-weight:700;}
.main_slide .swiper-wrapper #project .announcement {text-align:center; margin-bottom:30px;}
.main_slide .swiper-wrapper #project .project_wrap {}
.main_slide .swiper-wrapper #project .project_wrap .project_list {display:flex; flex-flow:row nowrap; gap:40px; width:100%;}
.main_slide .swiper-wrapper #project .project_wrap .project_list li {width:480px; height:600px;}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card {
    width:100%; height:100%;
    display:flex; flex-flow:column nowrap;
    justify-content:flex-end;
    border-radius:30px;
    padding:34px 34px 50px;
    position:relative;
}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card::after {
    content:'';
    display:block;
    width:100%; height:100%;
    border-radius:30px;
    position:absolute;
    left:0; top:0;
    background-color:rgba(0, 0, 0, 0.3);
    opacity:1;
    z-index:10;
}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card:hover::after {opacity:0;}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card .arrow_icon {
    background-image:url(../images/project_contents_go_link.png);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:56px; height:56px;
    position:absolute;
    right:34px; top:34px;
    z-index:20;
}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card .card_info {z-index:20;}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card .card_info .redesign_num {font-family:'Noto Serif KR'; font-size:2.5em; color:#fff; margin-bottom:16px;}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card .card_info .redesign_title {font-family:'Noto Serif KR'; font-size:2.25em; color:#fff; margin-bottom:16px;}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .proj_card .card_info .redesign_keyword {font-size:1.25em; color:#fff;}
/* ------------------------------------------- 6-1. 개별디자인 */
.main_slide .swiper-wrapper #project .project_wrap .project_list li .card_1 {
    /* background-color: #FFB5C2; */ background-image:url(../images/lollyday_mok.jpg);
    background-size:cover; background-position:center; background-repeat:no-repeat;
}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .card_2 {
    /* background-color: #FFB5C2; */ background-image:url(../images/diary_mok.jpg);
    background-size:cover; background-position:bottom; background-repeat:no-repeat;
}
.main_slide .swiper-wrapper #project .project_wrap .project_list li .card_3 {background-color: #FFB5C2;}
/* ------------------------------------------- 7행-오롤리데이 리디자인 */
.main_slide .swiper-wrapper #lolly_redesign {
    background-color:#FFEDF0;
    padding:100px 200px 100px 0;
    display:flex; flex-flow:row nowrap; gap:100px;
    align-items:center;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_website_img {
    /* background-color:#E0C3EF; */
    width:1097px; height:750px;
    overflow:hidden;
    border-radius:0 30px 30px 0;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_website_img img {width:auto;}
/* ------------------------------------------- 7-1. 오른쪽 오롤리데이 정보 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info {width:523px;}
/* ------------------------------------------- 7-1-1. 헤더 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .sort_wrap {display:flex; flex-flow:row nowrap; gap:4px; align-items:center; margin-bottom:14px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .sort_wrap .star_img {
    background-image:url(../images/star1.svg);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:26px; height:26px;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .sort_wrap .sort_name {
    font-family:'Noto Serif KR';
    font-size:1.125em;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .lolly_title_wrap {display:flex; flex-flow:row nowrap; gap:10px; align-items:center; margin-bottom:14px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .lolly_title_wrap .title {
    font-family:'Noto Serif KR';
    font-size:2em;
    line-height:1.6;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .lolly_title_wrap .responsive_icon {
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:30px; height:30px;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .lolly_title_wrap .icon1 {background-image:url(../images/project_desktop.png);}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .lolly_title_wrap .icon2 {background-image:url(../images/project_mobile.png);}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_header .sub_detail {font-size:0.875em; margin-bottom:54px;}
/* ------------------------------------------- 7-1-2. 제작 기간, 기여도 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .date_part {display:flex; flex-flow:row nowrap; gap:30px; margin-bottom:54px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .date_part dl {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .date_part dl dt {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .date_part dl dd {}
/* ------------------------------------------- 7-1-3. 제작 계획 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_plan {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_plan h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_plan .plan_info {font-size:0.875em; margin-bottom:54px; line-height:1.5; word-break: keep-all;}
/* ------------------------------------------- 7-1-4. 사용한 툴, 스킬 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_make_tools {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_make_tools h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_make_tools .tool_list {display:flex; flex-flow:row nowrap; gap:10px; margin-bottom:54px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_make_tools .tool_list li {
    display:flex; flex-flow:row nowrap; gap:10px; align-items:center;
    background-color:#fff;
    padding:8px 16px;
    border:1px solid rgb(0, 0, 0, 0.5); border-radius:10px;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_make_tools .tool_list li img {width:20px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .lolly_make_tools .tool_list li span {font-size:0.875em;}
/* ------------------------------------------- 7-1-5. 프로젝트 링크 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link .link_wrap {display:flex; flex-flow:row wrap; gap:10px; align-items:center; margin-bottom:12px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link .link_wrap li {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link .link_wrap li .btn_link {
    display:flex; align-items:center; gap:10px; padding:14px 20px;
    background-color:#fff; border:1px solid rgb(0, 0, 0, 0.5); border-radius:10px;
}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link .link_wrap li .btn_link img {width:26px;}
/* ----------------- 개별 디자인 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link .link_wrap li .icon_plan {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link .link_wrap li .icon_figma {}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_link .link_wrap li .icon_github {}
/* ----------------- 원본 */
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_original {display:flex; align-items:center; gap:10px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_original img {width:22px;}
.main_slide .swiper-wrapper #lolly_redesign .lolly_info .veiw_original span {border-bottom:1px solid #000;}
/* ------------------------------------------- 8행-TS 트릴리온 리디자인 */
.main_slide .swiper-wrapper .ts_redesign {
    background-color:#FFF8F9;
    padding:100px 0 100px 200px;
    display:flex; flex-flow:row nowrap; gap:100px;
    align-items:center;
}
/* ------------------------------------------- 8-1. 왼쪽 TS 트릴리온 정보 */
.main_slide .swiper-wrapper .ts_redesign .ts_info {width:523px;}
/* ------------------------------------------- 8-1-1. 헤더 */
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header {}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .sort_wrap {display:flex; flex-flow:row nowrap; gap:4px; align-items:center; margin-bottom:14px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .sort_wrap .star_img {
    background-image:url(../images/star1.svg);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:26px; height:26px;
}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .sort_wrap .sort_name {
    font-family:'Noto Serif KR';
    font-size:1.125em;
}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .ts_title_wrap {display:flex; flex-flow:row nowrap; gap:10px; align-items:center; margin-bottom:14px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .ts_title_wrap .title {
    font-family:'Noto Serif KR';
    font-size:2em;
    line-height:1.6;
}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .ts_title_wrap .responsive_icon {
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:30px; height:30px;
}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .ts_title_wrap .icon1 {background-image:url(../images/project_desktop.png);}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_header .sub_detail {font-size:0.875em; margin-bottom:54px;}
/* ------------------------------------------- 8-1-2. 제작 기간, 기여도 */
.main_slide .swiper-wrapper .ts_redesign .ts_info .date_part {display:flex; flex-flow:row nowrap; gap:30px; margin-bottom:54px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .date_part dl {}
.main_slide .swiper-wrapper .ts_redesign .ts_info .date_part dl dt {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .date_part dl dd {}
/* ------------------------------------------- 8-1-3. 제작 계획 */
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_plan {}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_plan h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_plan .plan_info {font-size:0.875em; margin-bottom:54px; line-height:1.5; word-break: keep-all;}
/* ------------------------------------------- 8-1-4. 사용한 툴, 스킬 */
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_make_tools {}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_make_tools h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_make_tools .tool_list {display:flex; flex-flow:row nowrap; gap:10px; margin-bottom:54px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_make_tools .tool_list li {
    display:flex; flex-flow:row nowrap; gap:10px; align-items:center;
    background-color:#fff;
    padding:8px 16px;
    border:1px solid rgb(0, 0, 0, 0.5); border-radius:10px;
}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_make_tools .tool_list li img {width:20px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .ts_make_tools .tool_list li span {font-size:0.875em;}
/* ------------------------------------------- 8-1-5. 프로젝트 링크 */
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_link {}
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_link h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_link .link_wrap {display:flex; flex-flow:row wrap; gap:10px; align-items:center; margin-bottom:12px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_link .link_wrap li {}
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_link .link_wrap li .btn_link {
    display:flex; align-items:center; gap:10px; padding:14px 20px;
    background-color:#fff; border:1px solid rgb(0, 0, 0, 0.5); border-radius:10px;
}
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_link .link_wrap li .btn_link img {width:26px;}
/* ----------------- 원본 */
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_original {display:flex; align-items:center; gap:10px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_original img {width:22px;}
.main_slide .swiper-wrapper .ts_redesign .ts_info .veiw_original span {border-bottom:1px solid #000;}
/* ------------------------------------------- 8-2. 오른쪽 TS 트릴리온 리디자인 목업 이미지 */
.main_slide .swiper-wrapper .ts_redesign .ts_website_img {
    background-color:#E0C3EF;
    width:1097px; height:750px;
    overflow:hidden;
    border-radius:30px 0 0 30px;
}
.main_slide .swiper-wrapper .ts_redesign .ts_website_img img {width:auto;}
/* ------------------------------------------- 9행-UIUX 디자인 */
.main_slide .swiper-wrapper #uiux_design {
    background-color:#F8EAFF;
    padding:100px 200px 100px 0;
    display:flex; flex-flow:row nowrap; gap:100px;
    align-items:center;
}
/* ------------------------------------------- 9-1. 왼쪽 UIUX 디자인 목업 이미지 */
.main_slide .swiper-wrapper #uiux_design .diary_img {
    background-color:#E0C3EF;
    width:1097px; height:750px;
    overflow:hidden;
    border-radius:0 30px 30px 0;
}
.main_slide .swiper-wrapper #uiux_design .diary_img img {width:100%; height:100%;}
/* ------------------------------------------- 9-2. 오른쪽 UIUX 디자인 정보 */
.main_slide .swiper-wrapper #uiux_design .diary_info {width:523px;}
/* ------------------------------------------- 9-2-1. 헤더 */
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header {}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .sort_wrap {display:flex; flex-flow:row nowrap; gap:4px; align-items:center; margin-bottom:14px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .sort_wrap .star_img {
    background-image:url(../images/star1.svg);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:26px; height:26px;
}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .sort_wrap .sort_name {
    font-family:'Noto Serif KR';
    font-size:1.125em;
}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .diary_title_wrap {display:flex; flex-flow:row nowrap; gap:10px; align-items:center; margin-bottom:14px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .diary_title_wrap .title {
    font-family:'Noto Serif KR';
    font-size:2em;
    line-height:1.6;
}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .diary_title_wrap .responsive_icon {
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:30px; height:30px;
}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .diary_title_wrap .icon2 {background-image:url(../images/project_mobile.png);}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_header .sub_detail {font-size:0.875em; margin-bottom:54px;}
/* ------------------------------------------- 9-2-2. 제작 기간, 기여도 */
.main_slide .swiper-wrapper #uiux_design .diary_info .date_part {display:flex; flex-flow:row nowrap; gap:30px; margin-bottom:54px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .date_part dl {}
.main_slide .swiper-wrapper #uiux_design .diary_info .date_part dl dt {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .date_part dl dd {}
/* ------------------------------------------- 9-2-3. 제작 계획 */
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_plan {}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_plan h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_plan .plan_info {font-size:0.875em; margin-bottom:54px; line-height:1.5; word-break: keep-all;}
/* ------------------------------------------- 9-2-4. 사용한 툴, 스킬 */
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_make_tools {}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_make_tools h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_make_tools .tool_list {display:flex; flex-flow:row nowrap; gap:10px; margin-bottom:54px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_make_tools .tool_list li {
    display:flex; flex-flow:row nowrap; gap:10px; align-items:center;
    background-color:#fff;
    padding:8px 16px;
    border:1px solid rgb(0, 0, 0, 0.5); border-radius:10px;
}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_make_tools .tool_list li img {width:20px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .diary_make_tools .tool_list li span {font-size:0.875em;}
/* ------------------------------------------- 9-2-5. 프로젝트 링크 */
.main_slide .swiper-wrapper #uiux_design .diary_info .veiw_link {}
.main_slide .swiper-wrapper #uiux_design .diary_info .veiw_link h4 {font-size:1.125em; margin-bottom:6px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .veiw_link .link_wrap {display:flex; flex-flow:row wrap; gap:10px; align-items:center; margin-bottom:12px;}
.main_slide .swiper-wrapper #uiux_design .diary_info .veiw_link .link_wrap li {}
.main_slide .swiper-wrapper #uiux_design .diary_info .veiw_link .link_wrap li .btn_link {
    display:flex; align-items:center; gap:10px; padding:14px 20px;
    background-color:#fff; border:1px solid rgb(0, 0, 0, 0.5); border-radius:10px;
}
.main_slide .swiper-wrapper #uiux_design .diary_info .veiw_link .link_wrap li .btn_link img {width:26px;}
/* ------------------------------------------- 10행-상세 페이지, 광고 배너 */
.main_slide .swiper-wrapper #graphic {
    background-color:#F5F9FF;
    padding:100px 200px 140px;
}
/* ------------------------------------------- 10-1. 헤더 */
.main_slide .swiper-wrapper #graphic .graphic_header {}
.main_slide .swiper-wrapper #graphic .graphic_header .graphic_title {display:flex; flex-flow:row nowrap; gap:4px; align-items:center; margin-bottom:30px;}
.main_slide .swiper-wrapper #graphic .graphic_header .graphic_title .star_img {
    background-image:url(../images/star1.svg);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    width:26px; height:26px;
}
.main_slide .swiper-wrapper #graphic .graphic_header .graphic_title .sort_name {
    font-family:'Noto Serif KR';
    font-size:1.5em;
}
.main_slide .swiper-wrapper #graphic .graphic_header .announcement {text-align:center; margin-bottom:30px;}
/* ------------------------------------------- 10-2. 디자인 이미지 슬라이더 */
.main_slide .swiper-wrapper #graphic .graphic_design {}
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper {}
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper .swiper-slide {height:500px; border-radius:30px; overflow:hidden;}
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper .swiper-slide img {height:100%; width:100%;}
/* ------------------------ 슬라이드 개별 디자인 */
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper .design1 {background-color:#FFB5C2;}
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper .design2 {background-color:#AED6F1;}
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper .design3 {background-color:#A9DFBF;}
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper .design4 {background-color:#F9E79F;}
.main_slide .swiper-wrapper #graphic .graphic_design .swiper-wrapper .design5 {background-color:#D7BDE2;}
/* ------------------------ 이미지 클릭 시 큰 이미지 팝업 등장 */
.big_img_popup {
    background-color:rgb(0, 0, 0, 0.5);
    position:fixed; left:0; top:0;
    width:100%; height:100vh;
    z-index:999;
    justify-content:center; align-items:center;
    display:none;
}
.big_img_popup.active {
    display:flex;
}
.big_img_popup .img_content {
    max-width:90%; max-height:90%;
    object-fit:contain;
}
/* ------------------------------------------- 11행-마무리 */
.main_slide .swiper-wrapper .finish {
    background-image:url(../images/Finish_bg.jpg);
    background-size:cover;
    background-position:bottom;
    background-repeat:no-repeat;
    padding-top:600px;
    position:relative;
    display:flex; flex-flow:column nowrap; align-items:center;
}
.main_slide .swiper-wrapper .finish .star_img {
    background-image:url(../images/star1.svg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:92px; height:92px;
    position:absolute;
    left:577px; top:190px;
}
.main_slide .swiper-wrapper .finish .email_githubLink {text-align:center;}
.main_slide .swiper-wrapper .finish .email_githubLink .my_email {font-size:2em; margin-bottom:20px;}
.main_slide .swiper-wrapper .finish .email_githubLink .email_github_btn {display:flex; flex-flow:row nowrap; gap:20px;}
.main_slide .swiper-wrapper .finish .email_githubLink .email_github_btn a {
    background-color:#fff;
    padding:16px 36px;
    border:1px solid #000; border-radius:14px;
}
.main_slide .swiper-wrapper .finish .email_githubLink .email_github_btn .email_btn {}
.main_slide .swiper-wrapper .finish .email_githubLink .email_github_btn .github_link {}
/* ------------------------ TOP 버튼 디자인 */
.top_btn {
    position:fixed;
    right:95px; bottom:90px; z-index:999;
    background-image:url(../images/top_btn.png);
    background-size:cover;
    background-position:center;
    width:50px; height:50px;
}