/* var.css */
:root {
    --color-background:#fff;

    --width-desk-v1:1920px;
    --width-desk-v2:1750px;
    --width-desk-v3:1680px;
    --width-desk-v4:1520px;

    /* 폰트 */
    --font-size-8:0.5em;
    --font-size-10:0.625em;
    --font-size-12:0.75em;
    --font-size-13:0.813em;
    --font-size-14:0.875em;
    --font-size-15:0.938em;
    --font-size-16:1em;
    --font-size-17:1.063em;
    --font-size-18:1.125em;
    --font-size-20:1.25em;
    --font-size-22:1.375em;
    --font-size-23:1.438em;
    --font-size-24:1.5em;
    --font-size-25:1.563em;
    --font-size-26:1.625em;
    --font-size-32:2em;
    --font-size-34:2.125em;

    /* 폰트 두께 */
    --font-weight-demilight:300;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    /* 자간 */
    --letter-spacing-nomal:-0.02em;
    --letter-spacing-xxs:-0.03em;
    --letter-spacing-xxxs:-0.04em;
    --letter-spacing-xs:-0.06em;
    --letter-spacing-s:-0.07em;
    --letter-spacing-ms:-0.08em;

    /* 행간 */
    --line-height-m:1.3;
    --line-height-md:1.5;

    /* 모서리 둥글기 */
    --radius-xs:3px;
    --radius-m:20px;
    --radius-ml:30px;
    --radius-l:50px;

    /* 간격 */
    --spacing-3:3px;
    --spacing-4:4px;
    --spacing-6:6px;
    --spacing-8:8px;
    --spacing-10:10px;
    --spacing-13:13px;
    --spacing-12:12px;
    --spacing-14:14px;
    --spacing-15:15px;
    --spacing-16:16px;
    --spacing-18:18px;
    --spacing-20:20px;
    --spacing-22:22px;
    --spacing-24:24px;
    --spacing-25:25px;
    --spacing-26:26px;
    --spacing-30:30px;
    --spacing-40:40px;
    --spacing-50:50px;
    --spacing-52:52px;
    --spacing-54:54px;
    --spacing-60:60px;
    --spacing-62:62px;
    --spacing-64:64px;
    --spacing-70:70px;
    --spacing-80:80px;
}